<html>
  <head>
    <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
    <title>Packer</title>
  </head>
  <body>
    <h3>On server</h3>

    <pre>ImageResizerUrl.get(<%= JSON.pretty_generate(@params) %>)</pre>
    <hr />

    <h3>Will output</h3>
    <a href="<%= @url %>"><%= @url %></a>

    <br />
    <br />

    <img src="<%= @url %>" />


    <h3>Quick tester<h3>

    <table>
      <% for size in [200, 'x200', '200x200', '^200x200'] %>
        <tr>
          <td>size: <%= size %></td>
          <td><img src="/r?image=<%= params[:image] %>&size=<%= size %>" ></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
