<%= render :erb, :_header %>

<h3>On server</h3>

<pre>
'<%= @image %>'.resized('<%= @size %>')
 => <a href="<%= @url1 %>"><%= @url1 %></a>

'<%= @image %>'.resized + '?s=<%= @size %>'
 => <a href="<%= @url2 %>"><%= @url2 %></a>

 # add &w=watermark parameter to add test watermark from "./public/watermark.png"
</pre>

<hr />

<h3>Will output</h3>

<br />
<br />

<img src="<%= @url1 %>" style="border: 1px solid #ccc;" />
<img src="<%= @url2 %>" style="border: 1px solid #ccc;" />

<h3>Quick tester<h3>

<table>
  <% for size in [200, 'x200', '200x200', '^200x200'] %>
    <tr>
      <td>size: <%= size %></td>
      <td><img src="/r?image=<%= @image %>&size=<%= size %>" ></td>
    </tr>
  <% end %>
</table>
